@import url("/sass/base/_fonts.scss");
@import url("/sass/base/_fonts.scss");
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
  background-color: #ffe168;
  font-family: "Multiround";
}
.header .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__logo {
  margin-left: 40px;
}
.header__search-bar {
  position: relative;
  margin-right: 530px;
  margin-top: -50px;
}
.header__placeholder {
  width: 400px;
  height: 35px;
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background: #F9F0DA;
  color: black;
  margin-left: 10px;
}
.header__btn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: #ffe168;
  cursor: pointer;
}
.header__img-btn {
  width: 25px;
  height: 25px;
}
.header__ingredients {
  color: black;
  font-size: 18px;
  margin-top: -50px;
  margin-left: -500px;
}
.header__btn-entrance {
  width: 90px;
  height: 32px;
  color: white;
  border: none;
  border-radius: 30px;
  background: orange;
  margin-bottom: 50px;
  margin-left: 120px;
  cursor: pointer;
}
.header__btn-entrance:hover {
  background: white;
  color: orange;
}
.header__pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-45%) scale(0);
  transition: 0.4s ease-in-out;
}
.header__pop-up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.7);
}
.header__pop-up-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.header__pop-up-body {
  margin: auto;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 50px 15px 50px 15px;
  position: relative;
}
.header__pop-up-body p {
  font-size: 18px;
  color: black;
  margin-bottom: 40px;
  font-family: Multiround;
}
.header__pop-up-body input {
  display: block;
  margin: 25px auto 0px auto;
  width: 330px;
  padding: 17px 20px;
  background-color: #E5E5E5;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #89909f;
}
.header__pop-up-body input:focus {
  outline: none;
  color: black;
}
.header__pop-up-body button {
  cursor: pointer;
  display: block;
  width: 330px;
  margin: 50px auto 0px auto;
  padding: 20px 0px;
  font-family: Multiround;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 15px;
  background-color: orange;
}
.header_reg {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  color: #89909f;
}
.header_reg:hover {
  text-decoration: underline;
}
.header__pop-up-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}
.header__msg {
  font-size: 16px;
  color: red;
  margin-bottom: 40px;
  font-family: Multiround;
  margin-top: 15px;
}
.header__msg-successful {
  font-size: 16px;
  color: rgb(0, 200, 0);
  margin-bottom: 40px;
  font-family: Multiround;
  margin-top: 15px;
}
.header__nav {
  display: flex;
  margin-top: 50px;
  margin-left: -935px;
}
.header__nav-list {
  display: flex;
  margin-right: 50;
}
.header__nav-item {
  margin-left: 35px;
  font-size: 18px;
}
.header__nav-link {
  color: black;
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__ingredients:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1 {
  display: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.main {
  background: #fdf5dd;
  display: flex;
  justify-content: center;
  font-family: "Multiround";
}
.main .container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 25px;
}
.main .wrapper {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.main__title {
  font-size: 32px;
  text-align: center;
  margin-top: 120px;
}
.main__category-search {
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.main__category-search:hover {
  text-decoration: underline;
}
.main__recipe {
  min-width: 280px;
  max-width: 1280px;
  width: auto;
  text-align: left;
  padding: 16px 19px 20px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
}
.main__title-1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
  width: 400px;
}
.main__title-1:hover {
  text-decoration: underline;
}
.main__recipe-img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  float: left;
  padding-right: 10px;
}
.main__list-category {
  position: relative;
  display: block;
  font-size: 14px;
  margin-top: 15px;
}
.main__category {
  outline: 0;
  color: #666;
  padding: 0 5px 0 0;
}
.main__category:hover {
  text-decoration: underline;
}
.main__subtitle {
  margin-top: 15px;
}
.main__list {
  position: relative;
  display: block;
  font-size: 14px;
  margin-top: 15px;
}
.main__list-item {
  outline: 0;
  color: black;
  padding: 0 5px 0 0;
}
.main__btn-group {
  margin-top: 25px;
  border-radius: 25px;
}
.main__btn {
  margin-right: 10px;
  padding: 2px 9px;
  cursor: pointer;
  font-size: 18px;
  background: #fdf5dd;
  border: none;
}
.main__btn:hover {
  text-decoration: underline;
}
.main__btn:focus {
  background-color: orange;
  font-style: normal;
  font-weight: normal;
  border-radius: 3px;
}

@font-face {
  font-family: "Multiround";
  src: url("/fonts/MultiroundPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.footer {
  background-color: black;
  height: 70px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  color: white;
  font-size: 20px;
}
.footer__title:hover {
  text-decoration: underline;
}
.footer__link {
  color: gray;
  font-size: 20px;
  margin-right: 500px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__social-list {
  display: flex;
  align-items: center;
}
.footer__feedback {
  color: gray;
  font-size: 20px;
}
.footer__feedback:hover {
  text-decoration: underline;
}
.footer__social-item:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
}
.footer__social-item:nth-child(3) {
  margin-right: 20px;
}
.footer__social-item {
  margin-top: 5px;
}

.recipeFull {
  background: #fdf5dd;
  display: flex;
  justify-content: center;
  font-family: "Multiround";
}
.recipeFull .container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 25px;
}
.recipeFull .wrapper {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
}
.recipeFull__title {
  font-size: 20px;
  text-align: center;
  margin-top: 120px;
}
.recipeFull__recipe-img {
  width: 700px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.recipeFull__list-category {
  margin-top: 10px;
}
.recipeFull__category {
  outline: 0;
  color: #666;
  padding: 0 5px 0 0;
}
.recipeFull__category:hover {
  text-decoration: underline;
}
.recipeFull__subtitle {
  margin-top: 10px;
}
.recipeFull__list-item:hover {
  text-decoration: underline;
}
.recipeFull__subtitle2 {
  margin-top: 10px;
}

.profile {
  background-color: #ffe168;
  display: flex;
}
.profile .container {
  display: flex;
  max-width: 1000px;
  padding-top: 30px;
  padding-bottom: 25px;
  flex-direction: column;
}
.profile__name {
  font-size: 18px;
  margin-top: 100px;
  margin-left: 40px;
}
.profile__logout {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 18px;
  color: rgb(254, 30, 30);
  display: inline-block;
  line-height: 1em;
  overflow: hidden;
  width: 50px;
}
.profile__logout:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */